.container{
    border: 1px solid black;
    overflow: auto;
}

.container img{
    float: right;
}

ul{
    background-color: black;

}

li{
    display: inline-block;
    padding: 20px;
}

ul a{
    padding: 20px;
    color: white;
}

li a:hover{
    background-color: #ccc;
    
}

#login{
    float: right;
}

.menu{
    position: sticky;
    top: 0%;
}