ul{
    background-color: black;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
    color: white;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: red;
    text-decoration: underline;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    width: 150px;
}

.dropdown-content a{
    color: black;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}